.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(235, 207, 169, 1);
    border-bottom: 3px solid rgba(33, 33, 33, 0.8);
}

.header__title {
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 1;
}

.header__menu {
    width: 45px;
    height: 45px;
    opacity: 0.7;
}

.header__menu:hover {
    opacity: 1;
}

.header__drop {
    position: absolute;
    right: 30px;
    margin-top: 10px;
    background-color: rgb(148, 148, 226);
}

.first-h:hover {
    background-color: red;
}