.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(235, 207, 169, 1);
    border-bottom: 3px solid rgba(33, 33, 33, 0.8);
}

.header__title {
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 1;
}

.header__menu {
    width: 45px;
    height: 45px;
    opacity: 0.7;
}

.header__menu:hover {
    opacity: 1;
}

.header__drop {
    position: absolute;
    right: 30px;
    margin-top: 20px;
    background-color: rgb(148, 148, 226);
    border: 3px solid rgba(33, 33, 33, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: margin 1s, opacity 1s;
    transition-timing-function: ease-out;
    opacity: 1;

}

.header__drop-b4 {
    margin: 0 auto;
    opacity: 0.3;
}

.drop__circle {
    width: 25px;
    height: 25px;
    border-top: 4px solid rgba(33, 33, 33, 1);
    border-radius: 50%;
    margin: -13px auto;
    transition: width 1s, height 1s, opacity 1s;
    transition-timing-function: ease-out;
    opacity: 1;
}

.drop__circle-b4 {
    width: 5px;
    height: 5px;
    opacity: 0.3;
}

.first-h:hover {
    background-color: red;
}