.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(235, 207, 169, 1);
    border-bottom: 3px solid rgba(33, 33, 33, 0.8);
}

.Vistoggle {
    display: none;
}

.header__title-link {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

.header__title {
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 1;
    caret-color: transparent;
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
}

.header__title-link:active {
    background: rgba(250, 172, 15, 1);
}

.header__profile {
    display: flex;
    align-items: center;
    caret-color: transparent;
}

.header__profile-login {
    display: flex;
    align-items: center;
    border: 2px solid rgba(33, 33, 33, 0.8);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    caret-color: transparent;
}

.header__profile-signup-btn {
    font-size: 18px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 5px;
    padding: 0;
    background-color: transparent;
    border: none;
    caret-color: transparent;
    cursor: pointer;
}

.header__profile-logout {
    display: flex;
    align-items: center;
    border: 2px solid rgba(33, 33, 33, 0.8);
    background-color: rgba(33, 33, 33, 1);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    caret-color: transparent;
}

.header__profile-signout-btn {
    font-size: 18px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 5px;
    background-color: rgba(33, 33, 33, 1);
    color: rgba(235, 207, 169, 1);
    border: none;
    padding: 0;
    caret-color: transparent;
    cursor: pointer;
}

.header__profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

@media screen and (max-width: 355px) {
    .header {
        flex-direction: column;
    }
   
    .header__title {
        font-size: 28px;
    }
    .header__profile-signup-btn {
        font-size: 16px;
    }
}