.posts__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 1;
    margin: 10px auto 0;

}

.posts__nav-links {
    display: flex;
    gap: 60px;
    padding: 10px;
    border-bottom: 3px solid rgba(33, 33, 33, 1);
}

.posts__link {
    background: transparent;
    border: none;
    padding: 0;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
}

.posts__link:hover {
    background: rgba(250, 172, 15, 1);
}

@media screen and (max-width: 850px) {

    .posts__nav-links {
        flex-direction: column;
        border: none;
        gap: 20px;
    }

    .posts__link {
        margin: 0 auto;
        border-radius: 0;
        border-bottom: 3px solid rgba(33, 33, 33, 1);
    }

    .posts__nav-link:hover {
        animation: borderGap 2s linear 0.5s 1s alternate;
    }

}

@keyframes borderGap {
    0% {
        border-bottom: 3px solid rgba(33, 33, 33, 1);
    }
    100% {
        border-bottom: 3px solid rgb(93, 204, 112);
    }
}